.labelPlacingInput{
    color: rgb(35, 35, 35);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0%;
}

.inputPlacing{
    outline:none;
    box-sizing: border-box;
    border: 1px solid rgb(223, 234, 242);
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    color: rgb(113, 142, 191);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    @apply px-[18px] 
}

.ddff{
    color: rgb(46, 66, 247);
}

.butonAdditional{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(17, 17, 17);
    margin-left: 52px;
}

.nextPageButton{
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    height: 44px;
}

.PlacingTextTitle{
    color: rgb(17, 17, 17);
    font-family: Actor;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}