.footer {
    background-color: rgba(21, 21, 21, 0.8);
    padding: 12px;
    border-radius: 36px;
    bottom: 20px;
}

ul li img{
    width: 30px;
    height: 30px;
}

.home-btn-active {
    fill: #000;
}