@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    margin-bottom: 25%;
}
body{
    height: 100vh;
    background-color: white;
}
::-webkit-scrollbar {
    display: none; /* Для вебкит-браузеров (Chrome, Safari, Opera) */
}
html {
    scrollbar-width: none;
}